.Section{
    position: absolute;
    top: 720px;
}

.Section1{
    background-size: cover;
    background-position: center;
    position: unset;
    height: 900px;
    margin-top: 50px;
}

.Tittle h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    /* line-height: 48px; */
    /* or 100% */
    text-align: center;
    letter-spacing: -0.26px;
    color: #181F3E;
    margin-bottom: 20px;
}

.h3tittle{
    font-size: 20px;
}

.Tittle h3{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 15x !important;
    /* line-height: 32px; */
    /* or 133% */
    text-align: center;
    letter-spacing: -0.108px;
    color: #181F3E;
}

.Feature{
    max-width: 509px;
    margin: -842px 55px;
    text-align: left;
    display: grid;
    align-items: center;
    justify-items: center;
}

.Feature svg{
    margin-bottom: -5px;
}

.Feature h3{
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 0px;
    /* or 229% */
    letter-spacing: -0.74px;

    color: #181F3E;
}

.Feature span {
    margin-left: 15px;
}

.Feature p{
    margin-left: 37px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.108px;
    color: #4B5270;
}

.Handphone{
    position: absolute;
    width: 628px;
    /* height: 623.06px; */
    left: 632px;
    top: 127px;
}

.BackgroundSection{
    position: unset;
    width: 100%;
}