.Hero {
    
    position: relative;
    height: 900px;
    bottom: 176px;
    clip-path: ellipse(918px 746px at 50% 10%);
    box-shadow: 5px 10px;
  }
  .Background{
    background: linear-gradient(180deg, rgba(24, 31, 62, 0) 47.56%, #181F3E 88.53%), url('https://lh3.googleusercontent.com/wZKZ4Le1DlmxqEcZr4_hegC0-4cOZ76mbbaWLBLK7C1vjJaFWdVnYigTr7ROck6tJfNbQWtWz2lT5B20XC9qZUe3nDo-6oWoMOt8YZ_fuAg-T5U3s3vL8cca7aqh40WjjtunSCNP5m8BjDseFwdDoC1x7o_3H0tK2qI4MCULX5qv5k0dBBy-tHkrzaUQ3HM1GE6wtoetRQMIIxWDfu623K9e3Q_ZpEafD8kgkdjzucgxMr-k9Mu18MlCPc2_R9o0ZKwGcrWCXvphp-M0OKAeIFbPCPaVlf9rN4g3lMDn_ZD3_L3XDaAdeK0Qv3hhiNFi0BWSwfJER50UMdNJ3FIFAjbUvXGSqKvkAUXre6XizIr5sSS22nT4XIQ4FPITgd_1nYGbkaFk80uPTWllRPaw_6F1IbafyI6yXQFd1qfgHUVXYNpnT5gAaFddzZHrfipIl8ntV8F1S1uGFnShjoHMwK7BD68qjcKtC0DNEQgmFxMzGDdSqKEsJ3u7YmpvMlH-wJPwFd15rpAsl1gAoTVVKzDC7SpD6qPu4VdvQd2RJXDF4mZ3Dj-8m5TKWL7x9yXmmGPRQE4Uum1kkWkyXA6D-Vai2zCJtzivLgJRlP70MTO0YjA2bO2bU7wZLRH3ukZKEfAIn6qeqNyj4L3jZesAnqwGi_A2eA=w1440-h817-no');
    background-size: 100% 85%;
    background-position: center;
  }

  .Background1{
    background: linear-gradient(180deg, rgba(24, 31, 62, 0) 47.56%, #181F3E 88.53%), url('https://lh3.googleusercontent.com/PKB50GGoNpM3eez3PiYg4W6LiDFUpOSwhazBCFo1VdyXR92dBEKY19nSsW3PnyCH1G-WB78k43BBhBO13MSHEqhU4VyIOxmQ-Tp0dcuoLlsp5fj5O1VtwBbkOKjsNabIDBavUAWiMz_j_fM9_C0IKCvmLrghlTe3vdDI6u8kbK3d0L3uSLDyNpImL-9rzysy4X0hDfp6QJG_jiWKe80y-tWuQXTVAV3ZslSZncW4kgnZwXmPq89EWh6f8T8QA0jaxH4uQDgJ3LLPvotIls3bMFF8JBfdIsN3ZAXRmauxmKyKeFZQgcnty5-74nNKe-ZinNawEtRiNXBtl7dM7FY4ycmI-SLJLJA07sjEY9Bbff-d-_GXxvpqkJBS9nxvrirOZTwLaI_ONCKvsEY2NcRYo6BoOsSnzfjIA1kCwESzA_eKR8N9lvw8XkljA4t7KnJMCWFTxA5QB6J7EfiWp_jLokWCWonRGBDw8Q2xmwtAKTe_ai8m0LHguvknH-2vl7pUZoytNpEl1nwnSAxfuE0SFbNy0flbMsMn769GMu0mpJMrvLfDU8FveELfxtsA50j5LnNW552GEaFPf0w24a7x1krs539z8eaTNoG-LdausqJdVKhrzY9qG8GYXWFx-7dcunzK1ZBSUPS32Ah2Em9NwGXnb8oX2A=w1440-h814-no');
    background-size: 100% 85%;
    background-position: center;
  }
  .HeroGroup {
    max-width: 500px;
    margin: 0 auto 0 auto;
  }
  
  .HeroGroup {
    max-width: 900px;
    margin: 0 auto;
    padding: 150px 50px;
    text-align: center;
  }
  
  .Hero h2 {
    margin-top: 380px ;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    /* or 100% */
    text-align: center;
    letter-spacing: -0.1728px;

    color: white;
    opacity: 0;
    animation: HeroAnimation;
    animation-duration: 3s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .Hero p {
    margin: 33px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 10px;
    /* or 133% */
    text-align: center;
    letter-spacing: -0.108px;
    color: rgba(255,255,255, 0.8);
    opacity: 0;
    animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .Hero a {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 90px;
    color: white;
    background: #09B3FF;
    padding: 9px 28px;
    /* border: 1px solid rgba(255,255,255, 0.25); */
    border-radius: 100px;
    transition: 1ss cubic-bezier(0.2, 0.8, 0.2, 1.0);
  }
  
  .Hero a:hover {
    background: white;
    color: black;
  }

  @keyframes HeroAnimation{
    0%{
        opacity:0;
        transform: translateY(20px);
    }
    100%{
        opacity:1;
        transform: translateY(10px);
    }
  }
  
  .ButtonBook {
    max-width: 500px;
    margin: 0 auto 0 auto;
  }
  
  .Hero svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .Hero .Logos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    margin: 100px 0;
    justify-items: center
  
  }
  
  @media (max-width : 640px){
    .Hero .Logos{
      grid-template-columns: repeat(3, 1fr);
    }
  }
/* 
.slideShowHomepage{
  margin-top:161px;
  background: linear-gradient(180deg, rgba(24, 31, 62, 0) 47.56%, #181F3E 88.53%)
} */

#BackgroundSlider{
  background-size:100% 50%;
  margin-top:160px;
}