.SignUp{
    height: 110vh;
    background-color: #09B3FF;
    background-image: url(../images/singUp/Group2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.SignUpContainer{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-gap: 10px;
}
.SignUpLogo{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
}
.SignUpTitle{
    grid-column: 5 / 11;
    grid-row: 1 / 4;
    align-self: center;
    justify-self: center;
    margin-left: -17%;
}
.SignUpTitle > h2{
    font-family: Sacramento;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.099px;
    color: #FFFFFF;
    /* margin-bottom: -2%; */
}
.SignUpBox{
    grid-column: 8 / 12;
    grid-row: 4 / 9;
    width: 433px;
    height: 401px;
    background: #FFFFFF;
    border-radius: 7px;
    display: grid;
    grid-template-rows: auto auto 20px auto auto auto;
    align-items: center;
    justify-items: center;
}
.SignUpBox > h3{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.0648px;
    color: #181F3E;
}
.SignInPhonenumber{
    width:334px;
    height: 43px;
    background: #09B3FF;
    border-radius: 100px;
    border:none;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0px;
    text-align: center;
    color: #FFFFFF;
}

.SignInPhonenumber:hover{
    background: #FFFFFF;
    color: #09B3FF;
    border-style: groove; 
}

.social-button {
    width:334px;
    height: 43px;
    background: #09B3FF;
    border-radius: 100px;
    border:none;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0px;
    text-align: center;
    color: rgb(60, 90, 154);
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.facebook-connect:hover  {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
}

.facebook-connect{
	  border-color: rgb(60, 90, 154);
	  background: rgb(60, 90, 154) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook-white.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
	  -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
    color: #FFFFFF;
}

.facebook-connect span {
	  box-sizing: border-box;
    color: rgb(60, 90, 154);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
	  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.facebook-connect:hover span {
	  color: #FFF;
	  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.google-connect {
    background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
    color: #181F3E;
}

.google-connect:hover {
	  border-color: rgb(220, 74, 61);
	  background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
	  -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
    color: white;
}

.google-connect span {
	  box-sizing: border-box;
    color: #181F3E;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
	  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.google-connect:hover span {
	  color: #FFF;
	  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
}